@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  color: #212121;
  background-color: #fff;
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

.link {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: #2196f3;
}

.link--current {
  position: relative;
  color: #2196f3;
  overflow: hidden;
}
.link--current::after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  border-radius: 2px;
  background-color: #2196f3;
  -webkit-animation-name: underline-in;
          animation-name: underline-in;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

/* Анимация подчеркивания */
@-webkit-keyframes underline-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes underline-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.logo {
  margin-right: 93px;
  padding: 25px 0;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
  text-decoration: none;
}
.logo__element {
  color: #2196f3;
}
.logo--inversion {
  color: #fff;
  margin: 0;
  padding: 0;
}

.button {
  display: block;
  padding: 10px 32px 10px 32px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #2196f3;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:active {
  transform: scale(0.95);
}

.header {
  display: flex;
  height: 80px;
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__item {
  align-items: center;
}
.header__item:not(:last-child) {
  margin-right: 50px;
}
.header__link {
  display: flex;
  align-items: center;
  color: #757575;
  padding: 32px 0;
}
.header__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.header__icon--smartphone {
  width: 10px;
  height: 16px;
}

.nav {
  display: flex;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  padding: 32px 0;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer__section {
  display: flex;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
}
.footer__block:not(:last-child) {
  margin-right: 93px;
}
.footer__block:first-child {
  margin-right: 70px;
}
.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
}
.footer__list {
  display: flex;
}
.footer__item:not(:last-child) {
  margin-right: 10px;
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0px solid transparent;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #fff;
  background-color: #2196f3;
}
.footer__icon {
  fill: currentColor;
  background-color: transparent;
}
.footer__icon--ml-10 {
  margin-left: 10px;
}
.footer__form {
  width: 570px;
  display: flex;
}
.footer__input {
  width: 358px;
  height: 50px;
  padding: 15px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input:focus-visible {
  outline: none;
  border-color: #fff;
}
.footer__button {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-size: 16px;
}
.footer__button:hover, .footer__button:focus {
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.15);
}
.footer__button:active {
  transform: scale(0.95);
}

.address {
  font-style: normal;
  margin-top: 20px;
}
.address__list {
  width: 231px;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}
.address__link--white {
  color: #fff;
}/*# sourceMappingURL=main.css.map */